HW_heterogeneousRTOS.cache/
HW_heterogeneousRTOS.gen/
HW_heterogeneousRTOS.runs/
HW_heterogeneousRTOS.sim/
ip_repo/faultdetector/
ip_repo/export.zip
*.xsa
*.bit
*.log
HW_heterogeneousRTOS.hw/
HW_heterogeneousRTOS.ip_user_files/
